.react-slidedown.pro-inner-list-item {
    background: #ffffff !important;
}
.popper-inner {
    background: #fafafa !important;
}
.pro-sidebar-inner {
    background: #fdfdfd !important;
}
.pro-inner-item{
    /* color:'#ed1c24'; */
}
/* .pro-inner-item {
   color: #f26167 !important;
} */

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
