.react-slidedown.pro-inner-list-item {
    background: #ffffff !important;
}
.popper-inner {
    background: #fafafa !important;
}
.pro-sidebar-inner {
    background: #fdfdfd !important;
}
.pro-inner-item{
    /* color:'#ed1c24'; */
}
/* .pro-inner-item {
   color: #f26167 !important;
} */
